
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
    /* background: linear-gradient(135deg, #f4eee5, #cbc0a4); */
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #94A3B8;




    background: linear-gradient(to right, #0B1121, #0C2136, #034e39);    justify-content: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

